.border{
    border: 0.0625rem solid #fd5d93 !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #1e1e24;
    color: white;
    cursor: not-allowed;
}